:root {
	--primary-color: #008000;
	--secondary-color: #d6ffd6;
}

body {
	background-color: var(--secondary-color);
}

#svelte {
	min-height: 100vh;
}

code {
	display: inline;
	background: #444;
	color: white;
	padding: 2px 5px;
}

a {
	text-decoration: none;
}
